{% extends 'base.html.twig' %}


{% block banner %}
    <section class="banner">    
        <div class="container">
            <div class="col-sm-6">
                <h2>Bienvenue</h2>
                <p>Ervin Bara, le développeur qu’il vous faut !</p>
                <br/>
                <a href="#ancre" class="btn btn-primary">Voir plus</a>
                <a class="btn btn-success" href="./images/cv.pdf">Lien vers mon cv</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
{% endblock %}
