{{ form_row(form.html, {'attr': {'placeholder': 'Lien'}}) }}
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove" onclick="return confirm('Ssupprimer ce champ')">Remove
    </button>
</div>
