{{ form_row(form.name, {'attr': {'placeholder': 'Lien'}}) }}
<div class="form-group">
        <button type="button" class="btn btn-danger btn-remove" onclick="return confirm('Ssupprimer ce champs')">Remove</button>
</div>

