{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../assets/css/figure_home.css"/>
{% endblock %}

{% block banner %}
    <section class="banner" id="banner-anchor">
        <div class="container">
            <div class="col-sm-6">
                <h2>Bienvenue</h2>
                <p>Snowboard</p>
                <br/>
                <a href="#figures" class="btn btn-primary js-anchor-link">Voir plus</a>
                <a class="btn btn-success" href="./images/cv.pdf">Lien vers mon cv</a>
            </div>
        </div>
        <div class="anchor-down">
            <a class="js-anchor-link" href="#footer-anchor"><i class="fas fa-arrow-down fa-3x"></i></a>
        </div>
    </section>
{% endblock %}

{% block body %}
    <h2 id="figures"> Figures </h2>
    <div class="wrapper" id="tricks">
        {{ include("figure/tricks.html.twig") }}

        {# Bouton load more qui vise un path #}
    </div>
    <a data-offset="{{ page }}" href="#" id="loadMore">Voir plus</a>

    <div class="anchor-up">
        <a class="js-anchor-link" href="#banner-anchor"><i class="fas fa-arrow-up fa-3x"></i></a>
    </div>


{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="../assets/js/loadmore.js"></script>
    <script type="text/javascript" src="../assets/js/scroll.js"></script>
{% endblock %}