{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../assets/css/figure_home.css"/>
{% endblock %}

{% block banner %}
    <section class="banner" id="banner-anchor">
        <div class="container">
            <div class="col-sm-6">
                <h2>Bienvenue sur Snowtricks</h2>
                <br/>
                <a href="#figures" class="btn btn-primary js-anchor-link">Tricks</a>
            </div>
        </div>
        <div class="anchor-down">
            <a class="js-anchor-link" href="#footer-anchor"><i class="fas fa-arrow-down fa-3x"></i></a>
        </div>
    </section>
{% endblock %}

{% block body %}
    <h2 id="figures"> Figures </h2>

    <div class="wrapper" id="tricks">
        {{ include("figure/tricks.html.twig") }}
    </div>

    <a id="loadMore" data-offset="{{ page }}" data-limit="{{ total_tricks }}" href="#">Voir plus</a>

    <div class="anchor-up">
        <a class="js-anchor-link" href="#banner-anchor"><i class="fas fa-arrow-up fa-3x"></i></a>
    </div>


{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="../assets/js/loadmore.js"></script>
    <script type="text/javascript" src="../assets/js/scroll.js"></script>
{% endblock %}
