@media (max-width: 376px) {
    .wrapper img,iframe {
        width: 350px!important;
        height: 200px!important;
    }
}

.video_miniature iframe,.video_miniature div {
    max-width: 175px!important;
    max-height:130px!important;
    width: 175px!important;
    height:130px!important;
}