header{
    background: rgb(141, 141, 141);
}

/*Comment section*/

.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px
}

.dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer
}

.form-check-input:focus {
    box-shadow: none
}

.icons i {
    margin-left: 8px
}

.reply {
    margin-left: 12px
}

.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: green;
    cursor: pointer
}

/*lOAD MORE COMMENT SECTIONS */

#loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgb(0, 0, 0);
    transition: .3s;
}
#loadMore:hover {
    color: rgb(0, 0, 0);
    background-color: #fff;
    border: 1px solid rgb(91, 91, 145);
    text-decoration: none;
}


/*Banniere sur la page des figure*/
.ks-page-header {
    background: #000000;  /* fallback for old browsers */
    background: radial-gradient(circle at center, rgba(0,0,0, 0.8), rgba(0,0,0, 0.8), rgba(0,0,0, 0.7), rgba(0,0,0, 0.5), rgba(0,0,0, 0.2), rgba(0,0,0, 0)), url('https://picsum.photos/id/0/1280/720');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    height: 500px; // for browsers that do not support flexbox -- CSS override
    height: 100vh;
}

.ks-page-title {
    padding: 2em 0; // added for browsers that do not support flexbox but do support height 100vh  -- CSS override
    margin: auto;
}